<c-vars field />

<textarea
    class="
        border-input 
        placeholder:text-muted-foreground 
        focus-visible:border-ring 
        focus-visible:ring-ring/50 
        aria-invalid:ring-destructive/20 
        dark:aria-invalid:ring-destructive/40 
        aria-invalid:border-destructive 
        dark:bg-input/30 
        flex 
        field-sizing-content 
        min-h-16 
        w-full 
        rounded-md 
        border 
        bg-transparent 
        px-3 
        py-2 
        text-base 
        shadow-xs 
        transition-[color,box-shadow] 
        outline-none 
        focus-visible:ring-[3px] 
        disabled:cursor-not-allowed 
        disabled:opacity-50 
        md:text-sm
        {% if class %}
        {{ class }}
        {% endif %}
    "
    {{ attrs }}
    {% if field %}
    id="{{ field.auto_id}}"
    name="{{ field.name }}" 
    {% if field.field.required %}required{% endif %}
    {% if field.field.disabled %}disabled{% endif %}
    {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %}
    {% if field.field.min_length %}minlength="{{ field.field.min_length }}"{% endif %}
    {% if field.field.empty_label %}placeholder="{{ field.field.empty_label }}"{% endif %}
    type="{{ field.widget_type}}" 
    {% endif %}
>{% if field.value %}{{ field.value|default:'' }}{% else %}{{ slot }}{% endif %}</textarea>