<c-vars defaultValue value variant="default" closeOnClick="true" disabled asChild />

<div x-data="{ 
        itemValue: '{{ value|escapejs }}',
        variant: '{{ variant|lower }}', 
        closeOnClick: {{ closeOnClick|lower }},
        disabled: {{ disabled|yesno:'true,false' }},
        asChild: {{ asChild|yesno:'true,false' }},
        init() {
            this.$nextTick(() => {
                if (this.asChild && initAsChild($el)) return;
            });
        },
        handleEvent(event) {
            if (this.disabled) return;
            if (this._handling) return;
            this._handling = true;
            trap = false;
            this.$nextTick(() => {
                document.activeElement?.blur();
                if (event.target === $el) $el.firstElementChild?.click();
                else event.target.blur();
                if (this.closeOnClick && !multiple) hideContent();
                toggle(this.itemValue);
                this._handling = false;
                //handleFocus($el) // how to handle for keydown.enter?
            });
        },
    }"
    :id="'{{ attrs.id }}' ? '{{ attrs.id }}' : $id(`${id}-item`)"
    :data-variant="variant"
    :data-disabled="disabled ? '' : null"
    @mouseenter="if (!this.disabled) handleFocus($el)"
    @mouseleave="removeFocus($el)"
    @click.stop="handleEvent($event)"
    @keydown.enter.self="handleEvent($event)"
    role="option"
    tabindex="-1"
    data-slot="select-item"
    class="focus:bg-accent focus:text-accent-foreground data-[variant=destructive]:text-destructive data-[variant=destructive]:focus:bg-destructive/10 dark:data-[variant=destructive]:focus:bg-destructive/20 data-[variant=destructive]:focus:text-destructive data-[variant=destructive]:*:[svg]:text-destructive not-data-[variant=destructive]:focus:**:text-accent-foreground gap-2 rounded-sm px-2 py-1.5 text-sm [&_svg:not([class*='size-'])]:size-4 group/dropdown-menu-item relative flex cursor-default items-center outline-hidden select-none data-disabled:pointer-events-none data-disabled:opacity-50 data-inset:pl-8 [&_svg]:pointer-events-none [&_svg]:shrink-0{% if class %} {{ class }}{% endif %}"
    {{ attrs }}
>
    <div class="flex flex-1 gap-2 whitespace-nowrap shrink-0">
        {{ slot }}
    </div>
    <span 
        x-show="selected[itemValue]"
        class="flex absolute right-2 justify-center items-center pointer-events-none size-4" 
        data-selected="" 
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
            class="pointer-events-none" aria-hidden="true"
        >
            <path d="M20 6 9 17l-5-5"></path>
        </svg>
    </span>
</div>