{% with component='select' %}
{% firstof handle 'handle-'|add:component as handle %}

<c-vars asChild />

<button data-slot="{{ component }}-trigger"
    x-data="{
        disabled: {{ disabled|yesno:'true,false' }},
        asChild: {{ asChild|yesno:'true,false' }},
        component: '{{ component }}',
        root: null,
        id: '{{ attrs.id }}',
        findRoot() {
            const p = this.$el.parentElement;
            if (p.getAttribute('data-slot') === this.component) return p;
        },
        initTrigger() {
            const r = this.findRoot();
            if (this.asChild && r) {
                const rData = Alpine.$data(r);
                if (typeof rData.initAsChild === 'function' && rData.initAsChild(this.$el)) return true;
            }
            this.root = r;
            if (!this.id) this.id = $id(`${r.id}-trigger`) || $id(`chad-ui_r_${this.component}-trigger`);
            return false;
        },
        init() {
            if (this.initTrigger()) return;
        },
        handleTrigger(event) {
            if (this.disabled) return;
            const trigger = (document.activeElement && $el.contains(document.activeElement)) ? document.activeElement : $el;
            trigger.blur();
            const content = event.target.closest(`[data-slot=${this.component}-content]`);
            if (content) { content.removeAttribute('aria-hidden'); }
            if (!this.detached) toggleContent(event);
            else if (this.root) $dispatch(this.handle);
            else console.warn(`[chad-ui] ${this.component}: detached trigger has invalid or missing handle.`);
        }
    }"
    :id="id"
    @click="handleTrigger($event)"
    type="button"
    tabindex="0"
    aria-haspopup="listbox"
    class="border-input data-[placeholder]:text-muted-foreground dark:bg-input/30 dark:hover:bg-input/50 focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive dark:aria-invalid:border-destructive/50 gap-1.5 rounded-md border bg-transparent py-2 pr-2 pl-2.5 text-sm shadow-xs transition-[color,box-shadow] focus-visible:ring-[3px] aria-invalid:ring-[3px] data-[size=default]:h-9 data-[size=sm]:h-8 *:data-[slot=select-value]:flex *:data-[slot=select-value]:gap-1.5 [&_svg:not([class*='size-'])]:size-4 flex w-fit items-center justify-between whitespace-nowrap outline-none disabled:cursor-not-allowed disabled:opacity-50 *:data-[slot=select-value]:line-clamp-1 *:data-[slot=select-value]:flex *:data-[slot=select-value]:items-center [&_svg]:pointer-events-none [&_svg]:shrink-0{% if class %} {{ class }}{% endif %}" 
    {{ attrs }}
>
    {{ slot }}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" 
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
        class="pointer-events-none text-muted-foreground size-4" 
        aria-hidden="true"
    >
        <path d="m6 9 6 6 6-6"></path>▼
    </svg>
</button>

{% endwith %}