{% with component='sidebar' %}

<c-vars side="left" variant="sidebar" collapsible="none" />

{% if collapsible == 'none' %}
<div
    data-slot="sidebar"
    class="flex h-full w-(--sidebar-width) flex-col bg-sidebar text-sidebar-foreground{% if class %} {{ class }}{% endif %}"
>
    {{ slot }}
</div>
{% else %}
<div 
    data-slot="sidebar"
    class="hidden md:block group peer text-sidebar-foreground{% if class %} {{ class }}{% endif %}"
>
    <div
        data-slot="sidebar-gap"
        :class="variant === 'floating' || variant === 'inset' ? 'group-data-[collapsible=icon]:w-[calc(var(--sidebar-width-icon)+(--spacing(4)))]' : 'group-data-[collapsible=icon]:w-(--sidebar-width-icon)'"
        class="relative w-(--sidebar-width) bg-transparent transition-[width] duration-200 ease-linear group-data-[collapsible=offcanvas]:w-0 group-data-[side=right]:rotate-180"
    />
    <div
        data-slot="sidebar-container"
        :data-side="side"
        :class="variant === 'floating' || variant === 'inset' ? 'p-2 group-data-[collapsible=icon]:w-[calc(var(--sidebar-width-icon)+(--spacing(4))+2px)]' : 'group-data-[collapsible=icon]:w-(--sidebar-width-icon) group-data-[side=left]:border-r group-data-[side=right]:border-l'"
        class="fixed inset-y-0 z-10 hidden h-svh w-(--sidebar-width) transition-[left,right,width] duration-200 ease-linear data-[side=left]:left-0 data-[side=left]:group-data-[collapsible=offcanvas]:left-[calc(var(--sidebar-width)*-1)] data-[side=right]:right-0 data-[side=right]:group-data-[collapsible=offcanvas]:right-[calc(var(--sidebar-width)*-1)] md:flex"
    >
        <div
            data-sidebar="sidebar"
            data-slot="sidebar-inner"
            class="flex size-full flex-col bg-sidebar group-data-[variant=floating]:rounded-lg group-data-[variant=floating]:shadow-sm group-data-[variant=floating]:ring-1 group-data-[variant=floating]:ring-sidebar-border"
        >
            {{ slot }}
        </div>
    </div>
</div>
{% endif %}

{% endwith %}