{% with component='field' %}
{% firstof handle 'handle-'|add:component as handle %}

<c-vars field handle validationMode="submit" validationDebounceTime="200" invalidStyling orientation="vertical" />

<div data-slot="field"
    x-data="{
        handle: '{{ handle }}',
        validationMode: '{{ validationMode|lower }}',
        validationDebounceTime: {{ validationDebounceTime }}, 
        invalidStyling: {{ invalidStyling|yesno:'true,false' }}, 
        fieldId: '{{ field.id_for_label}}',
        fieldLabel: '{{ field.label }}',
        fieldErrors: [{% for error in field.errors %}'{{ error|escapejs }}'{% if not forloop.last %},{% endif %}{% endfor %}],
        findErrorElt() {
            const ul = this.$el.querySelector('[data-slot=field-error] ul')
            if (ul) return ul;
            return Array.from(document.querySelectorAll(`[x-data][data-slot='field-error']`))
                .find(n => { try { return Alpine.$data(n).handle === this.handle; } catch { return false; } });
        },
        clearErrors() {
            Alpine.$data(this._errorElt).show = false;
            this._errorElt.innerHTML = '';
            $el.setAttribute('data-invalid', null);
        },
        renderErrors(e) {
            this._input = this.$el.querySelectorAll('input, select, textarea');
            if (this._input.length !== 1) throw new Error(`[chad-ui] field (id: '${$el.id}') expects exactly one form control.`);
            this._input = this._input[0]
            this._errorElt = this.findErrorElt();
            if (this._errorElt) this.clearErrors();
            this.input = this._input.closest(`[data-slot=${this._input.tagName.toLowerCase()}]`)
            if (!this.input) return;
            const iData = Alpine.$data(this.input);
            iData.unsetErrorStyle();
            if (this.fieldErrors.length > 0 && this._input.value) {
                
                const eData = Alpine.$data(this._errorElt);
                const errorLimit = Number.isInteger(Number(eData.errorLimit)) && Number(eData.errorLimit) > 0 ? Number(eData.errorLimit) : Infinity;
                if (errorLimit !== 0) eData.show = true;
                this.fieldErrors.slice(0, errorLimit).forEach(error => {
                    const li = document.createElement('li');
                    li.textContent = error;
                    this._errorElt.appendChild(li);
                });
                if (this.invalidStyling) {
                    this.$el.setAttribute('data-invalid', 'true');
                    iData.setErrorStyle();
                };
            }
        },
        init() {
            this._renderHandler = (e) => this.renderErrors(e);
            this.$el.addEventListener('htmx:after:swap', this._renderHandler);
            this.$nextTick(() => this.renderErrors());
        },
        destroy() {
            this.$el.removeEventListener('htmx:after:swap', this._renderHandler);
        }
    }"
    id="{% if attrs.id %}{{ attrs.id }}{% else %}{{ field.id_for_label}}-field{% endif %}"
    role="group"
    data-orientation="{{ orientation|lower }}"
    class="data-[invalid=true]:text-destructive gap-3 group/field flex w-full{% if orientation == 'vertical' %} flex-col *:w-full [&>.sr-only]:w-auto{% elif orientation == 'horizontal' %} flex-row items-center *:data-[slot=field-label]:flex-auto has-[>[data-slot=field-content]]:items-start has-[>[data-slot=field-content]]:[&>[role=checkbox],[role=radio]]:mt-px{% elif orientation == 'responsive' %} flex-col *:w-full [&>.sr-only]:w-auto @md/field-group:flex-row @md/field-group:items-center @md/field-group:*:w-auto @md/field-group:*:data-[slot=field-label]:flex-auto @md/field-group:has-[>[data-slot=field-content]]:items-start @md/field-group:has-[>[data-slot=field-content]]:[&>[role=checkbox],[role=radio]]:mt-px{% endif %}{% if class %} {{ class }}{% endif %}"
    {{ attrs }}
>
    {{ slot }}
</div>

{% endwith %}