<c-vars defaultValue field />

<input
    {% if field %}
    x-data="{
        root: null,
        value: '{{ field.value|escapejs }}',
        findRoot() {
            const p = this.$el.parentElement;
            if (p.getAttribute('data-slot') === 'field') return p;
        },
        flushHtmxEventListeners() {
            if (this.$el._htmx?.listeners) {
                this.$el._htmx.listeners.forEach(listener => {
                    listener.fromElt.removeEventListener(listener.eventName, listener.handler);
                });
            }
        },
        resetHtmxForValidation(mode) {
            this.flushHtmxEventListeners();
            if (['blur', 'change'].includes(mode)) {
                delete this.$el._htmx;            
                const trigger = mode === 'change' 
                    ? 'input[target.value.length > 0] delay:300ms' 
                    : 'blur';
                this.$el.setAttribute('hx-trigger', trigger);
                htmx.process(this.$el);
            }
        },
        init() {
            this.$nextTick(() => {
                this.root = this.findRoot();
                this.resetHtmxForValidation(validationMode);
            });
        }
    }"
    :value="value ? value : null"
    :hx-target="root ? `#${root.id}` : null"
    :hx-select="root ? `#${root.id}` : null"
    hx-swap="outerMorph"
    @input.self.stop="if (!$event.target.value) clearErrors();"
    id="{{ field.id_for_label}}"
    name="{{ field.name }}"
    type="{{ field.field.widget.input_type }}"
    {% if field.field.required %}required{% endif %}
    {% if field.field.disabled %}disabled data-disabled{% endif %}
    {% for name, value in field.field.widget.attrs.items %}
        {% if value is not False %}{{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}
    {% endfor %}
    {% endif %}
    class="dark:bg-input/30 border-input focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive dark:aria-invalid:border-destructive/50 h-9 rounded-md border bg-transparent px-2.5 py-1 text-base shadow-xs transition-none file:h-7 file:text-sm file:font-medium focus-visible:ring-[3px] aria-invalid:ring-[3px] md:text-sm file:text-foreground placeholder:text-muted-foreground w-full min-w-0 outline-none file:inline-flex file:border-0 file:bg-transparent disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50{% if class %} {{ class }}{% endif %}"
    data-slot="input"
    {{ attrs }}
    autocomplete="off"
/>