<c-vars defaultValue field/>

<input 
    class="dark:bg-input/30 border-input focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive dark:aria-invalid:border-destructive/50 h-9 rounded-md border bg-transparent px-2.5 py-1 text-base shadow-xs transition-none file:h-7 file:text-sm file:font-medium focus-visible:ring-[3px] aria-invalid:ring-[3px] md:text-sm file:text-foreground placeholder:text-muted-foreground w-full min-w-0 outline-none file:inline-flex file:border-0 file:bg-transparent disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50{% if class %} {{ class }}{% endif %}"
    {{ attrs }}
    data-slot="input"
    {% if field %}
    x-data="{
        trigger: '{{ hx_trigger|escapejs }}',
        value: '{% if field.value is not None %}{{ field.value|escapejs }}{% endif %}',
        setErrorStyle: () => $el.setAttribute('aria-invalid', 'true'),
        unsetErrorStyle: () => $el.removeAttribute('aria-invalid'),
        setValidationTrigger(validationMode) {
            const triggers = { blur: 'blur', change: `input[target.value.length > 0] delay:${this.validationDebounceTime}ms` };
            if (validationMode === 'submit' && $el._htmx?.listeners)
                $el._htmx.listeners.forEach(l => l.fromElt.removeEventListener(l.eventName, l.handler));
            if (validationMode === 'change') delete this._control._htmx;
            $el.setAttribute('hx-trigger', triggers[validationMode]);
        }
    }"
    :value="value ? value : null"
    hx-swap="outerMorph"
    @input.self.stop="if (!$event.target.value) clearErrors();"
    id="{{ field.id_for_label}}"
    name="{{ field.name }}"
    type="{{ field.field.widget.input_type }}"
    {% if field.field.required %}required{% endif %}
    {% if field.field.disabled %}disabled data-disabled{% endif %}
    {% for name, value in field.field.widget.attrs.items %}
        {% if value is not False %}{{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}
    {% endfor %}
    {% endif %}
    autocomplete="off"
/>