<c-vars asChild side="bottom" sideOffset="5" align="center" alignOffset="0" />

<template x-teleport="body">
    <div>
        <div
            x-cloak
            x-show="modal && open"
            @click="hidePopover"
            x-transition:enter="transition-opacity ease-out duration-200"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition-opacity ease-in duration-150"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            aria-hidden="true"
            class="overscroll-contain fixed inset-0 z-40 bg-background/80 backdrop-blur-xs"
        ></div>
        <div
            x-anchor.{{ side }}{% if align != 'center' %}-{{ align }}{% endif %}.offset.{{ sideOffset }}="document.getElementById($id('popover-trigger'))"
            style="transform: translate({% if side == 'right' or side == 'left'%}0,{{ alignOffset }}px{% else %}{{ alignOffset }}px,0{% endif %});"
            class="z-50"
        >
            <div
                x-cloak
                x-show="open"
                @click.stop
                @click.away="!modal && hidePopover()"
                @keydown.escape.window="hidePopover"
                x-trap.inert.noscroll="modal && open"
                x-transition:enter="transition-all ease-out duration-200"
                x-transition:enter-start="opacity-0 scale-95 {% if side == 'bottom' %}-translate-y-2{% elif side == 'top' %}translate-y-2{% elif side == 'left' %}translate-x-2{% elif side == 'right' %}-translate-x-2{% endif %}"
                x-transition:enter-end="opacity-100 scale-100"
                x-transition:leave="transition-all ease-in duration-150"
                x-transition:leave-start="opacity-100 scale-100"
                x-transition:leave-end="opacity-0 scale-95"
                role="dialog"
                :aria-modal="modal ? 'true' : 'false'"
                :id="$id('popover-content')"
                tabindex="-1"
                class="p-4 rounded-md border shadow-md bg-popover text-popover-foreground outline-hidden{% if class %} {{ class }}{% endif %}"
            >
                {{ slot }}
            </div>
        </div>
    </div>
</template>