<c-vars type="single" defaultValue="" collapsible disabled dir="ltr" orientation="vertical"></c-vars>

<div
    x-data="{
        type: '{{ type|lower }}',
        defaultValue: '{{ defaultValue }}',
        collapsible: {{ collapsible|yesno:'true,false' }},
        disabled: {{ disabled|yesno:'true,false' }},
        dir: '{{ dir|lower }}',
        orientation: '{{ orientation|lower }}',
        values: [],
        open: {},
        init () {
            this.$nextTick(() => {
                $el.querySelectorAll('[data-slot=accordion-item]').forEach(item => {
                    this.values.push(Alpine.$data(item).value)
                })
                if (this.defaultValue) {
                    const defaultValues = this.defaultValue.split(',').map((value) => value.trim())
                    defaultValues.forEach(value => this.toggle(value));
                }
            })
        },
        getIndex(el) {
            return this.values.indexOf(Alpine.$data(el).value)
        },
        setDisabled(el) {
            if (el.matches('button, input, textarea, select, fieldset')) {
                el.setAttribute('disabled', '');
                el.setAttribute('aria-disabled', 'true');
            }
            el.setAttribute('data-disabled', '');
        },
        toggle(value) {
            if (this.type === 'single') {
                if (this.open[value] && !this.collapsible) return;
                this.open = { [value]: !this.open[value] }
            } else {
                this.open[value] = !this.open[value];
            }
        },
        isOpen(value) {
            return !!this.open[value];
        }
    }"
    data-orientation="{{ orientation|lower }}"
    :dir="dir"
    role="region"
    data-slot="accordion"
    :class="orientation === 'horizontal' ? 'flex w-full' : 'flex flex-col w-full'"
    {{ attrs }}
>
    {{ slot }}
</div>