<c-vars disabled value></c-vars>

<div
    x-data="{
        disabled: disabled ? disabled : {{ disabled|yesno:'true,false' }},
        value: '{{ value }}'
    }"
    x-init="if (disabled) setDisabled($el);"
    :data-orientation="orientation" 
    :data-state="isOpen(value) ? 'open' : 'closed'"
    class="flex transition-all duration-300 ease-in-out border-border{% if class %} {{ class }}{% endif %}"
    :class="
        orientation === 'horizontal' 
        ? isOpen(value)
            ? 'flex-row flex-4 min-w-0 not-last:border-r' 
            : 'flex-row flex-1 min-w-0 w-full not-last:border-r'
        : 'flex-col not-last:border-b'
    "
    {{ attrs }}
>
    {{ slot }}
</div>