<c-vars disabled value />

<div
    x-data="{
        disabled: disabled ? disabled : {{ disabled|yesno:'true,false' }},
        value: '{{ value }}'
    }"
    x-init="if (disabled) setDisabled($el);"
    :data-orientation="orientation" 
    :data-state="isOpen(value) ? 'open' : 'closed'"
    class="flex transition-all duration-300 ease-in-out overflow-hidden{% if class %} {{ class }}{% endif %}"
    :class="
        orientation === 'horizontal' 
        ? isOpen(value)
            ? 'flex-row flex-[4] min-w-0 border-e last:border-e-0' 
            : 'flex-row flex-1 min-w-0 w-full border-e last:border-e-0'
        : 'flex-col border-b last:border-b-0'
    "
    {{ attrs }}
>
    {{ slot }}
</div>