<h3 :data-orientation="orientation" :data-open="isOpen(value) ? '' : null" :data-closed="isOpen(value) ? null : ''"
    :class="
        orientation === 'horizontal' 
        ? isOpen(value)
            ? 'h-full w-16 shrink-0 duration-300 ease-in-out transition-[width]' 
            : 'h-full w-full duration-300 ease-in-out transition-[width]' 
        : 'flex'
    "
>
    <button
        x-init="if (disabled) setDisabled($el);"
        @click="toggle(value)"
        :aria-expanded="isOpen(value)"
        :data-state="isOpen(value) ? 'open' : 'closed'"
        :data-orientation="orientation"
        type="button"
        class="focus-visible:ring-ring/50 focus-visible:border-ring focus-visible:after:border-ring *:data-[slot=accordion-trigger-icon]:text-muted-foreground rounded-md text-left text-sm font-medium hover:underline focus-visible:ring-[3px] **:data-[slot=accordion-trigger-icon]:size-4 group/accordion-trigger relative flex flex-1 justify-between border border-transparent transition-all outline-none disabled:pointer-events-none disabled:opacity-50{% if class %} {{ class }}{% endif %}"
        :class="
            orientation === 'horizontal'
            ? 'w-full h-full flex flex-col items-center justify-between p-4 [&[data-state=open]>svg]:rotate-90'
            : 'w-full flex items-start justify-between py-4 **:data-[slot=accordion-trigger-icon]:ml-auto [&[data-state=open]>svg]:rotate-180'
        "
        {{ attrs }} 
    >
        <span class="text-sm" :class="orientation === 'horizontal' ? '[writing-mode:vertical-rl] order-last rotate-180' : ''">
            {{ slot }}
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
            data-slot="accordion-trigger-icon"
            class="transition-transform duration-200 shrink-0"
            :class="
                orientation === 'horizontal'
                ? dir === 'rtl' ? 'rotate-90' : '-rotate-90'  /* Flip icon direction for RTL */
                : ''
            "
        >
            <path d="m6 9 6 6 6-6"></path>
        </svg>
    </button>
</h3>