<div
    :data-orientation="orientation === 'vertical' ? 'horizontal': 'vertical'"
    role="separator"
    :aria-orientation="orientation === 'vertical' ? 'horizontal': 'vertical'"
    data-slot="button-group-separator"
    class="shrink-0 data-[orientation=horizontal]:h-px data-[orientation=vertical]:w-px data-[orientation=vertical]:self-stretch bg-input relative self-stretch data-[orientation=horizontal]:mx-px data-[orientation=horizontal]:w-auto data-[orientation=vertical]:my-px data-[orientation=vertical]:h-auto{% if class %} {{ class }}{% endif %}"
    {{ attrs }}
></div>