<c-vars showCloseButton="true" />

<template x-teleport="body">
    <div :id="id" x-data="{ settling: false, showCloseButton: '{{ showCloseButton|lower }}' }" data-slot="dialog-portal">
        <div 
            x-show="open"
            x-transition:enter="transition-opacity ease-out"
            x-transition:enter-start="opacity-0"
            x-transition:enter-end="opacity-100"
            x-transition:leave="transition-opacity ease-in"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            @click="hideDialog"
            :data-open="open ? '' : null"
            :data-closed="!open ? '' : null"
            role="presentation"
            data-slot="dialog-overlay"
            aria-hidden="true"
            class="fixed inset-0 z-50 duration-100 isolate bg-black/10 supports-backdrop-filter:backdrop-blur-xs"
            style="user-select: none;"
        >
            <c-spinner class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"/>
        </div>
        <div
            x-show="open && !settling"
            @htmx:before-request.window="if ($event.detail.target === $el) { settling = true; closeButton = $el.querySelector('[data-slot=dialog-close]'); }"
            @htmx:after-settle.self="settling = false; if (closeButton) { $el.appendChild(closeButton); }"
            x-trap.inert.noscroll="open && !settling"
            x-transition:enter="transition-[opacity,scale] ease-out"
            x-transition:enter-start="opacity-0 scale-95"
            x-transition:enter-end="opacity-100 scale-100"
            x-transition:leave="transition-[opacity,scale] ease-in"
            x-transition:leave-start="opacity-100 scale-100"
            x-transition:leave-end="opacity-0 scale-95"
            :aria-describedby="$id('chadui-dialog-description')"
            :aria-labelledby="$id('chadui-dialog-title')"
            :data-state="open ? 'open' : 'closed'"
            data-slot="dialog-content"
            role="dialog"
            class="bg-background ring-foreground/10 grid max-w-[calc(100%-2rem)] gap-6 rounded-xl p-6 text-sm ring-1 duration-100 sm:max-w-md fixed top-1/2 left-1/2 z-50 w-full -translate-x-1/2 -translate-y-1/2 outline-none{% if class %} {{ class }}{% endif %}"
            tabindex="-1"
            {{ attrs }}
        >
            {{ slot }}
            <template x-if="showCloseButton">
                <button 
                    @click.stop="hideDialog"
                    type="button" 
                    tabindex="0"
                    data-slot="dialog-close" 
                    class="focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive dark:aria-invalid:border-destructive/50 border border-transparent bg-clip-padding text-sm font-medium focus-visible:ring-[3px] aria-invalid:ring-[3px] [&_svg:not([class*='size-'])]:size-4 inline-flex items-center justify-center whitespace-nowrap transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none shrink-0 [&_svg]:shrink-0 outline-none group/button select-none hover:bg-muted hover:text-foreground dark:hover:bg-muted/50 aria-expanded:bg-muted aria-expanded:text-foreground size-8 rounded-[min(var(--radius-md),10px)] in-data-[slot=button-group]:rounded-md absolute top-4 right-4"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" 
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    >
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                    <span class="sr-only">Close</span>
                </button>
            </template>
        </div>
    </div>
</template>